{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--Spacer-->
<div class="spacer">
  &nbsp;<br><br><br><br><br>
</div>

<h1>events</h1>

<!--Footer-->
<div class="footer">
  <div class="footer-content">
    <div class="alignleft">
      <img src="{% static 'images/logo.svg' %}" alt="Logo" width="50px" display="inline" style="margin: 50px 0px 50px 50px;">
    </div>

    <div class="aligncenter">
      <p>© 2022 All Rights Reserved<br>Terms of Use and Privacy Policy</p>
    </div>

    <div class="alignright">
      <div class="Mail">
        <p>Email : <a href="mailto:inquiry@torontocupcake.com">inquiry@torontocupcake.com</a></p>
      </div>
      <div class="phone">
        <p>phone : (North America) +1-877-334-9468<br>(Outside of North Am) +001-647-478-9464<br>(Local Toronto and GTA) 647-478-9464</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
