{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--Spacer-->
<div class="spacer">
  &nbsp;<br><br><br><br><br>
</div>

<!-- Header -->
<div class="e-header">
  <h1>Events and Custom Cupcakes</h1>
  <p>Here are special events cupcakes and some of the custom cupcakes that we have created in the past. If you would like to create your cupcake design, please do not hesitate to contact us!</p>
</div>

<!-- Photo Grid -->
<div class="e-row">
  <div class="e-column">
    <div class="e-container">
      <img src="images/e3.jpg" style="width:100%">
      <div class="e-overlay">Valentine's Day</div>
    </div>
    <div class="e-container">
      <img src="images/e4.jpg" style="width:100%">
      <div class="e-overlay">St Patty's Day</div>
    </div>
    <div class="e-container">
      <img src="images/e7.jpg" style="width:100%">
      <div class="e-overlay">Custom Image Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e11.jpg" style="width:100%">
      <div class="e-overlay">Christmas</div>
    </div>
    <div class="e-container">
      <img src="images/e1.jpg" style="width:100%">
      <div class="e-overlay">Custom Birthday Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e8.jpg" style="width:100%">
      <div class="e-overlay">Custom Kids Cupcake</div>
    </div>
  </div>
  <div class="e-column">
    <div class="e-container">
      <img src="images/e5.jpg" style="width:100%">
      <div class="e-overlay">Custom Image Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e2.jpg" style="width:100%">
      <div class="e-overlay">Custom Logo Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e9.jpg" style="width:100%">
      <div class="e-overlay">Custom Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e6.jpg" style="width:100%">
      <div class="e-overlay">Custom Image Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e10.jpg" style="width:100%">
      <div class="e-overlay">Custom Logo Cupcake</div>
    </div>
  </div>
  <div class="e-column">
    <div class="e-container">
      <img src="images/e3.jpg" style="width:100%">
      <div class="e-overlay">Valentine's Day</div>
    </div>
    <div class="e-container">
      <img src="images/e4.jpg" style="width:100%">
      <div class="e-overlay">St Patty's Day</div>
    </div>
    <div class="e-container">
      <img src="images/e7.jpg" style="width:100%">
      <div class="e-overlay">Custom Image Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e11.jpg" style="width:100%">
      <div class="e-overlay">Christmas</div>
    </div>
    <div class="e-container">
      <img src="images/e1.jpg" style="width:100%">
      <div class="e-overlay">Custom Birthday Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e8.jpg" style="width:100%">
      <div class="e-overlay">Custom Kids Cupcake</div>
    </div>
  </div>
  <div class="e-column">
    <div class="e-container">
      <img src="images/e5.jpg" style="width:100%">
      <div class="e-overlay">Custom Image Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e2.jpg" style="width:100%">
      <div class="e-overlay">Custom Logo Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e9.jpg" style="width:100%">
      <div class="e-overlay">Custom Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e6.jpg" style="width:100%">
      <div class="e-overlay">Custom Image Cupcake</div>
    </div>
    <div class="e-container">
      <img src="images/e10.jpg" style="width:100%">
      <div class="e-overlay">Custom Logo Cupcake</div>
    </div>
  </div>
  
<!--Footer-->
<div class="footer">
  <div class="footer-content">
    <div class="alignleft">
      <img src="{% static 'images/logo.svg' %}" alt="Logo" width="50px" display="inline" style="margin: 50px 0px 50px 50px;">
    </div>

    <div class="aligncenter">
      <p>© 2022 All Rights Reserved<br>Terms of Use and Privacy Policy</p>
    </div>

    <div class="alignright">
      <div class="Mail">
        <p>Email : <a href="mailto:inquiry@torontocupcake.com">inquiry@torontocupcake.com</a></p>
      </div>
      <div class="phone">
        <p>phone : (North America) +1-877-334-9468<br>(Outside of North Am) +001-647-478-9464<br>(Local Toronto and GTA) 647-478-9464</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
