{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--Spacer-->
<div class="spacer">
  &nbsp;<br><br><br><br><br>
</div>
  <div class="faq-banner">
    <h1>
      <center><a href="#order">Ordering</a> | <a href="#deliv">Delivery/Pick Up/Sending</a> | <a href="#ingredients">Ingredients</a> | <a href="#other">Other</a></center>
    </h1>
  </div>

  <div class="faq-content">
    <div id="order">
      <h1>Ordering</h1>
    </div>
    <button class="accordion">How much time needed for a custom order?</button>

    <div class="panel">
      <p>It would be very helpful if you could give a minimum of 48 hours notice when ordering something special. For personalised stamping such as initials or logos <a href="{% url 'contactus' %}">please call or email us</a>.</p>
    </div>

    <button class="accordion">What is the smallest order I can make?</button>
    <div class="panel">
      <p>Minimum order is 1/2 dozen assorted cupcakes.</p>
    </div>

    <button class="accordion">What are my options for payment?</button>
    <div class="panel">
      <p>We will accept cheque, money orders, all major credit cards, and paypal. We can also accept payment via email interac transaction (Canada only).</p>
    </div>

    <button class="accordion">When and how do I pay?</button>
    <div class="panel">
      <p>Payment is due when you receive your invoice via email. After you have successfully completed an order you will receive an order confirmation email from Toronto Cupcake. Shortly afterwards you will be sent an invoice that can be paid online.
      </p>
    </div>


    <div id="deliv">
      <h1>Delivery/Pick Up/Sending</h1>
    </div>
    <button class="accordion">Does Toronto Cupcake deliver?</button>

    <div class="panel">
      <p>Yes! Toronto Cupcake delivers to all locations in the GTA and surrounding areas. The minimum order for delivery is 1/2 dozen. Delivery to most downtown Toronto postal codes is $13.00. We deliver to a radius of approximately 80KM from
        downtown Toronto. If you need a delivery outside of this area please contact us. Delivery windows are 8-noon and noon-6 within Toronto. Outside of Toronto is noon-6.</p>
    </div>

    <button class="accordion">What is the earliest time I can have my cupcakes delivered?</button>
    <div class="panel">
      <p>Our earliest delivery window is 8am to noon. Our latest delivery window is noon to 6pm, 7 days a week. If you need something outside of this delivery schedule please call or email us and we will try to accommodate.</p>
    </div>

    <button class="accordion">Can I pickup my cupcakes?</button>
    <div class="panel">
      <p>Yes! Please contact us to make arrangements.</p>
    </div>

    <button class="accordion">What if the person isn't home?</button>
    <div class="panel">
      <p>When you order you will be asked to provide a contact name and number at the deliver to location. It is your responsibility to make sure someone will be at the delivery location during the delivery time. We do our best to leave the delivery
        with someone or indoors. On occasion we may leave your delivery at the door.</p>
    </div>


    <div id="ingredients">
      <h1>Ingredients</h1>
    </div>

    <button class="accordion">Do you have gluten-free cupcakes?</button>
    <div class="panel">
      <p>Yes, by special order. Please <a href="{% url 'contactus' %}">contact us</a>. There is a min order of a dozen.</p>
    </div>

    <button class="accordion">What colours do you have?</button>
    <div class="panel">
      <p>As we hand-make our own colours we can do any colour!</p>
    </div>

    <button class="accordion">Do you offer special icing colours?</button>
    <div class="panel">
      <p>Yes, we do offer special icing colours. Please try and give us as much advanced notice as you can when requesting special colours and we will do our best to accommodate.</p>
    </div>

    <button class="accordion">Are Toronto Cupcake products nut free?</button>
    <div class="panel">
      <p>Toronto Cupcake is NOT a nut-free kitchen. Several of our flavours use peanuts or other nut products. We recommend that customers with severe nut allergies err on the side of caution and not eat our cupcakes.</p>
    </div>


    <div id="other">
      <h1>Other</h1>
    </div>

    <button class="accordion">How do I store my cupcakes?</button>
    <div class="panel">
      <p>If you are planning on eating them within a day you can store them at room temperature. If you are not going to eat them right away you can freeze them. To thaw them, take them out of the freezer and cover them lightly with plastic wrap
        while they thaw. This will minimize condensation forming on the cupcakes. They should be ready to eat in about an hour.
        You should not refrigerate your cupcakes overnight because they will dry out.</p>
    </div>

    <button class="accordion">Are you able to personalize cupcakes?</button>
    <div class="panel">
      <p>Challenge us!! We are so excited to create personalised cupcakes for you. From traditional hand stamped initials or logos to hand moulded 3D characters we are up to the task. Check out our events page to see some of our work. Please give us
        a <a href="{% url 'contactus' %}">call or email</a> to discuss your ideas.</p>
    </div>

    <button class="accordion">Do I need to order my cupcakes in advance?</button>
    <div class="panel">
      <p>Not at all, unless you would like to have something specially made for you. It would be very helpful if you could give a minimum of 48 hours notice when ordering something special. For our store locations and hours, please <a
          href="{% url 'contactus' %}">click here</a>.</p>
    </div>

  </div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>

<!--Footer-->
<div class="footer">
  <div class="footer-content">
    <div class="alignleft">
      <img src="{% static 'images/logo.svg' %}" alt="Logo" width="50px" display="inline" style="margin: 50px 0px 50px 50px;">
    </div>

    <div class="aligncenter">
      <p>© 2022 All Rights Reserved<br>Terms of Use and Privacy Policy</p>
    </div>

    <div class="alignright">
      <div class="Mail">
        <p>Email : <a href="mailto:inquiry@torontocupcake.com">inquiry@torontocupcake.com</a></p>
      </div>
      <div class="phone">
        <p>phone : (North America) +1-877-334-9468<br>(Outside of North Am) +001-647-478-9464<br>(Local Toronto and GTA) 647-478-9464</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
