{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!--Spacer-->
<div class="spacer">
  &nbsp;<br><br><br><br><br>
</div>
<div class="container">
<br>
<center><h2>Sign up</h2></center>
<br>
   <div class="d-flex justify-content-center">
   <form method="POST">
   {% csrf_token %}
        {{form}}
        <br>
        <p><b>{{message}}</b></p>
        <p> Click <a href="{% url 'signin'%}">here </a>to log in</p>
        <button type="submit" class="btn btn-secondary">Sign up</button>
    </form>
   </div>
</div>
{% endblock content %}
