body {
  background-color: hsl(0, 0%, 98%);
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 30%);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.banner {
  background: #FF7171;
}

.banner-text {
  flex-grow: 1;
  line-height: 1.4;
  text-align: left;
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.bg-dark {
  background-color: #4f868c !important;
}

#cart-icon {
  width: 25px;
  display: inline-block;
  margin-left: 15px;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: .1s;
}

.chg-quantity:hover {
  opacity: .6;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #F5C0C0;
}

/*************CSS for covid.html************************/
.title {
  z-index: 0;
  width: 100%;
  position: relative;
}

.title-content {
  background: #FF7171;
  padding: 0;
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
}

.title-text {
  flex-grow: 1;
  line-height: 1.4;
}

.covid-info {
  background: #F5C0C0;
  padding: 20px 40px;
  margin: 0 auto 10px auto;
  border-radius: 10px;
}

.covid-info-content li {
  margin-bottom: 10px;
}

.spacer {
  width: 100%;
  height: 55px;
}


* {
  box-sizing: border-box
}

.carousel-caption {
  color: black;
  background-color: rgba(240, 228, 215, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: auto;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

/******************ABOUT AND REVIEWW + EVENT**************/
.about {
  background-color: #F5C0C0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 7px;
}

.about-text {
  float: left;
  color: black;
  padding: 20px 50px;
  vertical-align: middle;
}

.about-img {
  max-width: 100%;
  height: auto;
  display: inline;
  flex-basis: 70%;
  padding: 30px 20px;
}

.review {
  background-color: #F0E4D7;
}

.review-text h1 {
  padding-left: 50px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px 50px;
  align-items: center;
  justify-content: center;
}

.column img {
  border-radius: 50%;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column p {
  padding-top: 30px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.event {
  background-color: #F5C0C0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.event-text {
  text-align: center;
}

.column img,
h2 {
  align-self: center;
}

/************FOOTER***************/
.footer {
  width: 100%;
  height: 100%;
  background-color: #F0E4D7;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.alignleft {
  width: 33.33333%;
  text-align: left;
  padding-bottom: 50px;
}

.aligncenter {
  width: 33.33333%;
  text-align: center;
  /* padding: 60px 0; */
  line-height: 200px;
}

.aligncenter p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.alignright {
  width: 33.33333%;
  text-align: right;
  padding: 20px 30px 0px 0px;
}

/*****************STORE.HTML************************/
.btn-mod {
  display: inline-block;
  background: #F5C0C0;
  padding: 8px 20px;
  /* margin: 10px 0; */
  border-radius: 15px;
  transition: background 0.5s;
}

.btn-mod:hover {
  background: #FF7171;
}

.btn-mod-2 {
  display: inline-block;
  background: #F0E4D7;
  padding: 8px 20px;
  border-radius: 15px;
	outline: none;
  transition: background 0.5s;
}

.btn-mod-2:hover {
  background: #DAB88B;
}

.store-img {
    width: 60%;
    height: 230px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

/************CART.HTML********************/
.row-image {
	margin-left: 50px;
}

.order-sum {
	margin: 0 20px;
}

.order-sum a {
	margin-top: 10px;
}

.order-sum img {
	margin-left: 30px;
}
